body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #080d11, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    background: #d7d3d3;
    padding: 30px 40px;
    border-radius: 12px;
    width: 360px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}
label {
    display: block;
    text-align: left;
    margin-top: 12px;
    font-weight: bold;
    font-size: 14px;
    color: #444;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    border-color: #4facfe;
}
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #4facfe;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #53616f;
}
.link,
.links {
    margin-top: 15px;
    font-size: 14px;
}

.link a,
.links a {
    color: #07090b;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover,
.links a:hover {
    text-decoration: underline;
}
.links {
    display: flex;
    justify-content: space-between;
}